<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <form class="" action="" method="post">
    <label for="title">Post title:</label>
    <input type="text" name="title" value="<%=post.Title %>" >
    <br>
    <label for="summary">Post summary:</label>
    <input type="text" name="summary" value="<%=post.Summary%>">
    <br>
    <label for="url">post url</label>
    <input type="text" name="url" value="<%=post.url%>">
    <br>
    <%for(let i=0;i<length; i++){ %>
      <label for="paragraph[<%=i%>]">Paragraph <%=i+1%></label>
    <textarea name="paragraph[<%=i%>]" rows="8" cols="80"><%= paragraph[i].Content%></textarea>
    <input type="hidden" name="paragraphID[<%=i%>]" value="<%=paragraph[i].ID%>">
    <%}%>
    <button type="submit" name="button">Submit</button>
  </form>



</body>

</html>
