<div class="parEditContainer" data-paragraph-index="<%=i%>">

    <label for="paragraph[<%=i%>]">Paragraph <%=i%></label>
  <textarea name="paragraph[<%=i%>]" rows="8" cols="80"><%= paragraph.Content%></textarea>
  <input type="hidden" name="paragraphID[<%=i%>]" value="<%=paragraph.ID%>">

  <button type="button" name="button" class="deleteParagraphBtn" data-paragraph-id="<%=paragraph.ID%>" data-paragraph-index="<%=i%>"> Delete paragraph</button>

  </div>

  <!-- paragraphID to talk to DB, paragraph index to talk to html.
  New empty paragraph has no paragraph ID - can be deleted from html without talking to the DB -->
