    <label for="paragraph[<%=i%>]">Paragraph <%=i%></label>
  <textarea name="paragraph[<%=i%>]" rows="8" cols="80"><%= paragraph.Content%></textarea>
  <input type="hidden" name="paragraphID[<%=i%>]" value="<%=paragraph.ID%>">
